<!doctype html>
<title>RHEA File Services</title>
<h1> RHEA File Monitoring and Archive Service</h1>
<br/>
<p>This is the human interface to the RHEA file services.</p>
<p>A directory is monitored for changes and additions to files. After a rolling five day period, files will be moved to the archive directory.</p>
<p>The RHEA File Services facilitates a RESTful API to retrieve lists of files and their metadata, in both the available files directory and the archive directory</p>
<br/>
{% if name %}
<h2>Assistance for: {{name}}</h2>
{% else %}
<h2>Assistance on topics</h2>
<p>Please append a topic string to the URL and I'll try to show you some useful information</p>
{% endif %}
